# OS
.DS_Store
*.log

# Editor
.vscode/
.idea/

# Python / Backend
__pycache__/
*.py[cod]
venv/
env/
.env
.pytest_cache/
backend/venv/
backend/.env

# Node / Frontend / Mobile
node_modules/
.next/
dist/
build/
.expo/
coverage/

# specific project files
*.sqlite3
*.db
*.pt

